@import "bourbon/bourbon";

$primary-color1: #1E3E60;
$primary-color2: #8092A3;
$light-gray: #fbfbfb;
$white: #FFFFFF;

.services {
  text-align: center;
  margin-bottom: 30px;

  a {
    .serviceImg {
      width: 150px;
      height: 150px;
      -webkit-border-radius : 50%;
      -moz-border-radius    : 50%;
      border-radius         : 50%;
      border: 1px dotted rgba($primary-color2, .5);
      padding: 15px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      z-index: 3;
      background-color: $light-gray;
      @include transition(all .3s);

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    .s-content {
      padding: 15px;
      border: 1px solid rgba($primary-color2, .5);
      background-color: $light-gray;
      margin-top: -30px;
      position: relative;
      @include transition(all .3s);

      h3 {
        font-size: 18px;
        font-weight: 600;
      }

      p {
        margin: 0;
        text-align: justify;
        font-size: 13px;
        height: 100px;
        overflow: hidden;
        line-height: 26px;
      }
    }

    &:hover {
      .s-content {
        background-color: rgba($light-gray, .1);
      }

      .s-content, .serviceImg {
        border-color: $primary-color1;
      }
    }
  }
}


.newsContent {
  text-align: center;

  h1 {
    font-size: 18px;
    @include transition(all .3s ease);
  }

  p {
    height: 50px;
    font-size: 14px;
    line-height: 27px;
    overflow: hidden;
    color: #9e9e9e;
    @include transition(all .3s ease);
  }
}

.project-img {
  position: relative;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    content: '';
    @include transition(all .3s ease);
  }
}

a {
  &:hover {
    .project-img {
      &::before {
        background-color: rgba($primary-color1, .5);
      }
    }

    .newsContent {
      h1, p {
        color: $primary-color1;
      }
    }
  }
}


.list-group {
  .list-group-item {
    border-color: $white;
    background-color: rgba($primary-color1, .7);
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    font-weight: 600;
    @include transition(all .3s ease-in-out);

    &:first-child, &:last-child {
      -webkit-border-radius :0;
      -moz-border-radius    :0;
      border-radius         :0;
    }

    &.active {
      background-color: rgba($primary-color2, .6);
      color: rgba($primary-color1, .7);

      &:hover {
        color: $white;
        background-color: $primary-color2;
        border-color: $primary-color2;
      }
    }
  }
}


@import "footer";